@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1.2);
  }
  100% {
    transform: translateX(18px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(18px) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
/* - Lime Green: hsl(163, 72%, 41%)
- Bright Red: hsl(356, 69%, 56%)

- Facebook: hsl(208, 92%, 53%)
- Twitter: hsl(203, 89%, 53%)
- Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

#### Dark Theme

- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
h1,
h2,
h3,
p,
.card,
.box {
  transition: all 0.5s ease-in;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.theme__one {
  background-color: hsl(246, 100%, 98%);
  width: 100vw;
  height: 35vh;
  position: absolute;
  top: -3rem;
  left: -4.8rem;
  z-index: -1;
}

.flex {
  display: flex;
  align-items: center;
}

.head {
  justify-content: space-between;
  color: hsl(230, 22%, 74%);
  margin: 1rem 0 2rem;
}

.head h1 {
  color: hsl(230, 17%, 14%);
}

.head p {
  color: hsl(230, 22%, 74%);
}

.mode {
  font-size: 0.9rem;
  font-weight: 700;
}

.light {
  display: none;
}

.dark {
  display: inline-block;
}

.toggle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3rem;
  color: var(--light-Grayish-Blue);
}

.toggle__container label {
  background-color: hsl(230, 22%, 74%);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0.4rem 0.5rem 0;
  position: relative;
  height: 1.3rem;
  width: 2.5rem;
}

.toggle__container label .ball {
  background-color: hsl(246, 100%, 98%);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  height: 1.2rem;
  width: 1.2rem;
  transition: all 0.4s ease;
  animation: slideOff 0.3s linear forwards;
}

.toggle__container input {
  display: none;
}

.toggle__container input:checked + label .ball {
  animation: slideOn 0.3s linear forwards;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
}

.box {
  width: 17.5rem;
  height: 14.5rem;
  padding: 1rem;
  background-color: hsl(227, 47%, 96%);
  border-radius: 0.3rem;
  position: relative;
}

.box:after {
  content: '';
  height: 3px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.box.facebook::after {
  background-color: hsl(208, 92%, 53%);
}
.box.twitter::after {
  background-color: hsl(208, 83%, 53%);
}
.box.instagram::after {
  background: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.box.youtube::after {
  background-color: hsl(348, 97%, 39%);
}

.socials,
.index {
  justify-content: center;
  margin: 1rem;
}

.socials small {
  color: hsl(230, 17%, 14%);
  margin-left: 0.5rem;
}

.numbers h2 {
  font-size: 3.5rem;
  color: hsl(230, 17%, 14%);
}

.numbers p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.index {
  margin-top: 2rem;
}

.index small {
  margin-left: 0.3rem;
  color: hsl(163, 72%, 41%);
  font-weight: 700;
}

.index small.instagram {
  color: hsl(356, 69%, 56%);
}

.overview {
  margin: 3rem 0 0;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  padding: 1rem;
  width: 17.7rem;
  height: 8.5rem;
  background-color: hsl(227, 47%, 96%);
  border-radius: 0.3rem;
}

.card_top,
.card__bottom,
.ration {
  justify-content: space-between;
}

.card_top,
.card__bottom {
  margin: 1rem;
  font-weight: 700;
}

.card__bottom {
  margin-top: 2rem;
}

.card__bottom h3 {
  font-size: 2rem;
}

.ration p {
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.ration p.g {
  color: hsl(163, 72%, 41%);
}

.ration p.r {
  color: hsl(356, 69%, 56%);
}

/* 
dark mode */
html.dark {
  background-color: hsl(230, 17%, 14%);
}

h1.dark,
h2.dark,
h3.dark {
  color: hsl(0, 0%, 100%);
}

p.dark,
small.dark {
  color: hsl(228, 34%, 66%);
}

p.dark {
  display: block;
}

.theme__one.dark {
  background-color: hsl(232, 19%, 15%);
}

.box.dark,
.card.dark {
  background-color: hsl(228, 28%, 20%);
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  body {
    max-width: 390px;
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem;
    opacity: 0.9;
  }

  .head {
    flex-direction: column;
  }

  .head p {
    color: hsl(228, 34%, 66%);
    font-weight: 700;
    opacity: 0.8;
  }

  .toggle__wrapper {
    margin-top: 2rem;
    width: 93%;
    position: relative;
    justify-content: space-between;
  }

  .toggle__wrapper::after {
    content: '';
    height: 1.2px;
    width: 100%;
    position: absolute;
    top: -0.7rem;
    left: 0;
    background-color: hsl(228, 34%, 66%);
  }
  .theme__one {
    top: -2rem;
    left: 0;
  }

  .numbers {
    display: flex;
    flex-direction: column;
  }

  .box,
  .card {
    width: 21.5rem;
  }

  .toggle__container label .ball {
    top: 0.5px;
  }
}
